/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400&family=Montserrat:wght@400&display=swap');
@import "./shared/styles/tokens.css";
@import "tailwindcss";
@plugin "daisyui";


/* Override global font */
html {
    font-family: var(--font-family-body);
}

body {
    background-color: var(--color-bg-page);
    color: var(--color-text-primary);
}

.font-heading {
    font-family: var(--font-family-heading);
}

.font-sans {
    font-family: var(--font-family-body);
}

